:root {
    --deg: 1;
    --x: -50%;
    --y: -50%;
  }
  
  .halo-effect-wrapper {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: serif;
    background: radial-gradient(circle at 50% 35%, #334455, #000);
  }
  
  .halo-effect-container {
    position: relative;
    width: 100%;
    height: 200px;
  }
  
  .halo-effect {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(var(--x, -50%), var(--y, -50%)) rotate(0deg);
    font-size: 20vmin;
    width: 3em;
    height: 3em;
    border-radius: 90% 95% 85% 105%;
    background: #0f0;
    mix-blend-mode: screen;
    filter: hue-rotate(0deg);
    animation: wobble calc(150ms * var(--t)) linear infinite;
    transform-origin: -var(--y) -var(--x);
    box-shadow: 0 0 .5em .2em #000 inset, 0 0 .15em 0 #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .halo-effect::after {
    font-size: 1em;
    /* content: '☻'; Uncomment or change as needed */
    white-space: nowrap;
  }
  
  @keyframes wobble {
    to {
      filter: hue-rotate(360deg);
      transform: translate(var(--x), var(--y)) rotate(360deg);
    }
  }
  