/* Define your color variables at the root level */
:root {
  --background-color: #0a192f; /* Replace with the actual color you pick from the image */
  --text-color: #ffffff;
  --accent-color: #64ffda; /* This could be for links or buttons, replace with actual accent color */
  --text-secondary-color: #8892b0; /* A secondary text color for less prominent text */
}

/* Apply your color variables */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Montserrat', sans-serif;
}

a {
  color: var(--accent-color);
  text-decoration: none; /* Removes underlines from links */
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: var(--text-secondary-color);
}

/* Add additional global styles here */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

header {
  background-color: #333;
  color: white;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

section {
  padding: 20px;
}

#about, #projects, #contact {
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 10px;
}

/* Ajoutez plus de styles personnalisés ici */
